<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Dot Motion {167}</string>
      <string>glyphs.D_ot M_otion {167}</string>
    </array>
    <array>
      <string>Dot Motion {167}.background</string>
      <string>glyphs.D_ot M_otion {167}.background</string>
    </array>
    <array>
      <string>Aug 28 20, 14:18</string>
      <string>glyphs.A_ug 28 20, 14_18</string>
    </array>
    <array>
      <string>Aug 28 20, 14:18.background</string>
      <string>glyphs.A_ug 28 20, 14_18.background</string>
    </array>
    <array>
      <string>Prevent Bulge {167}</string>
      <string>glyphs.P_revent B_ulge {167}</string>
    </array>
    <array>
      <string>Prevent Bulge {167}.background</string>
      <string>glyphs.P_revent B_ulge {167}.background</string>
    </array>
    <array>
      <string>Prevent Kinks {167}</string>
      <string>glyphs.P_revent K_inks {167}</string>
    </array>
    <array>
      <string>Prevent Kinks {167}.background</string>
      <string>glyphs.P_revent K_inks {167}.background</string>
    </array>
    <array>
      <string>Dot placement {110}</string>
      <string>glyphs.D_ot placement {110}</string>
    </array>
    <array>
      <string>Dot placement {110}.background</string>
      <string>glyphs.D_ot placement {110}.background</string>
    </array>
    <array>
      <string>Spot and dot movement {167}</string>
      <string>glyphs.S_pot and dot movement {167}</string>
    </array>
    <array>
      <string>Spot and dot movement {167}.background</string>
      <string>glyphs.S_pot and dot movement {167}.background</string>
    </array>
    <array>
      <string>Oct 19 20, 19:33</string>
      <string>glyphs.O_ct 19 20, 19_33</string>
    </array>
    <array>
      <string>Oct 19 20, 19:33.background</string>
      <string>glyphs.O_ct 19 20, 19_33.background</string>
    </array>
    <array>
      <string>Spot movement {167}</string>
      <string>glyphs.S_pot movement {167}</string>
    </array>
    <array>
      <string>Spot movement {167}.background</string>
      <string>glyphs.S_pot movement {167}.background</string>
    </array>
    <array>
      <string>Sep 9 20, 16:58</string>
      <string>glyphs.S_ep 9 20, 16_58</string>
    </array>
    <array>
      <string>Sep 9 20, 16:58.background</string>
      <string>glyphs.S_ep 9 20, 16_58.background</string>
    </array>
    <array>
      <string>Sep 9 20, 17:21</string>
      <string>glyphs.S_ep 9 20, 17_21</string>
    </array>
    <array>
      <string>Sep 9 20, 17:21.background</string>
      <string>glyphs.S_ep 9 20, 17_21.background</string>
    </array>
    <array>
      <string>Sep 9 20, 17:22</string>
      <string>glyphs.S_ep 9 20, 17_22</string>
    </array>
    <array>
      <string>Sep 9 20, 17:22.background</string>
      <string>glyphs.S_ep 9 20, 17_22.background</string>
    </array>
    <array>
      <string>Sep 8 20, 16:19</string>
      <string>glyphs.S_ep 8 20, 16_19</string>
    </array>
    <array>
      <string>Sep 8 20, 16:19.background</string>
      <string>glyphs.S_ep 8 20, 16_19.background</string>
    </array>
    <array>
      <string>Oct 30 20, 15:12</string>
      <string>glyphs.O_ct 30 20, 15_12</string>
    </array>
    <array>
      <string>Oct 29 20, 17:16</string>
      <string>glyphs.O_ct 29 20, 17_16</string>
    </array>
    <array>
      <string>Oct 29 20, 17:18</string>
      <string>glyphs.O_ct 29 20, 17_18</string>
    </array>
    <array>
      <string>Oct 30 20, 11:10</string>
      <string>glyphs.O_ct 30 20, 11_10</string>
    </array>
    <array>
      <string>Oct 30 20, 11:17</string>
      <string>glyphs.O_ct 30 20, 11_17</string>
    </array>
    <array>
      <string>Oct 30 20, 13:08</string>
      <string>glyphs.O_ct 30 20, 13_08</string>
    </array>
    <array>
      <string>Oct 30 20, 12:46</string>
      <string>glyphs.O_ct 30 20, 12_46</string>
    </array>
    <array>
      <string>Oct 30 20, 12:46 #1</string>
      <string>glyphs.O_ct 30 20, 12_46 #1</string>
    </array>
    <array>
      <string>Oct 30 20, 12:48</string>
      <string>glyphs.O_ct 30 20, 12_48</string>
    </array>
    <array>
      <string>Oct 30 20, 12:55</string>
      <string>glyphs.O_ct 30 20, 12_55</string>
    </array>
    <array>
      <string>Oct 28 20, 14:53</string>
      <string>glyphs.O_ct 28 20, 14_53</string>
    </array>
    <array>
      <string>Oct 28 20, 16:15</string>
      <string>glyphs.O_ct 28 20, 16_15</string>
    </array>
    <array>
      <string>Oct 29 20, 11:09</string>
      <string>glyphs.O_ct 29 20, 11_09</string>
    </array>
    <array>
      <string>Oct 29 20, 11:10</string>
      <string>glyphs.O_ct 29 20, 11_10</string>
    </array>
  </array>
</plist>
