<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>border_5</key>
    <string>border_5.glif</string>
    <key>border_6</key>
    <string>border_6.glif</string>
    <key>border_7</key>
    <string>border_7.glif</string>
  </dict>
</plist>
