<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Feb 7 20, 14:07</string>
      <string>glyphs.F_eb 7 20, 14_07</string>
    </array>
    <array>
      <string>Feb 7 20, 14:11</string>
      <string>glyphs.F_eb 7 20, 14_11</string>
    </array>
    <array>
      <string>Feb 7 20, 14:17</string>
      <string>glyphs.F_eb 7 20, 14_17</string>
    </array>
    <array>
      <string>Feb 7 20, 14:17 #1</string>
      <string>glyphs.F_eb 7 20, 14_17 #1</string>
    </array>
    <array>
      <string>Feb 7 20, 14:19</string>
      <string>glyphs.F_eb 7 20, 14_19</string>
    </array>
    <array>
      <string>Feb 10 20, 16:35</string>
      <string>glyphs.F_eb 10 20, 16_35</string>
    </array>
    <array>
      <string>Mar 7 20, 15:00</string>
      <string>glyphs.M_ar 7 20, 15_00</string>
    </array>
    <array>
      <string>Mar 7 20, 15:08</string>
      <string>glyphs.M_ar 7 20, 15_08</string>
    </array>
    <array>
      <string>Feb 10 20, 18:37</string>
      <string>glyphs.F_eb 10 20, 18_37</string>
    </array>
    <array>
      <string>Feb 11 20, 13:57</string>
      <string>glyphs.F_eb 11 20, 13_57</string>
    </array>
    <array>
      <string>Feb 11 20, 14:07</string>
      <string>glyphs.F_eb 11 20, 14_07</string>
    </array>
    <array>
      <string>Feb 11 20, 14:37</string>
      <string>glyphs.F_eb 11 20, 14_37</string>
    </array>
    <array>
      <string>Mar 9 20, 20:15</string>
      <string>glyphs.M_ar 9 20, 20_15</string>
    </array>
    <array>
      <string>Apr 1 20, 12:54</string>
      <string>glyphs.A_pr 1 20, 12_54</string>
    </array>
    <array>
      <string>Apr 1 20, 13:04</string>
      <string>glyphs.A_pr 1 20, 13_04</string>
    </array>
    <array>
      <string>Apr 17 20, 12:20</string>
      <string>glyphs.A_pr 17 20, 12_20</string>
    </array>
    <array>
      <string>May 13 20, 16:29</string>
      <string>glyphs.M_ay 13 20, 16_29</string>
    </array>
    <array>
      <string>Mar 9 20, 20:37</string>
      <string>glyphs.M_ar 9 20, 20_37</string>
    </array>
    <array>
      <string>Feb 18 20, 14:26</string>
      <string>glyphs.F_eb 18 20, 14_26</string>
    </array>
    <array>
      <string>Apr 2 20, 16:01</string>
      <string>glyphs.A_pr 2 20, 16_01</string>
    </array>
    <array>
      <string>Feb 7 20, 15:21</string>
      <string>glyphs.F_eb 7 20, 15_21</string>
    </array>
    <array>
      <string>Feb 10 20, 16:40</string>
      <string>glyphs.F_eb 10 20, 16_40</string>
    </array>
    <array>
      <string>Apr 1 20, 13:13</string>
      <string>glyphs.A_pr 1 20, 13_13</string>
    </array>
    <array>
      <string>Apr 1 20, 13:17</string>
      <string>glyphs.A_pr 1 20, 13_17</string>
    </array>
    <array>
      <string>Mar 6 20, 21:19</string>
      <string>glyphs.M_ar 6 20, 21_19</string>
    </array>
    <array>
      <string>Feb 10 20, 16:21</string>
      <string>glyphs.F_eb 10 20, 16_21</string>
    </array>
    <array>
      <string>Feb 10 20, 16:52</string>
      <string>glyphs.F_eb 10 20, 16_52</string>
    </array>
    <array>
      <string>Feb 14 20, 14:49</string>
      <string>glyphs.F_eb 14 20, 14_49</string>
    </array>
    <array>
      <string>Feb 14 20, 14:54</string>
      <string>glyphs.F_eb 14 20, 14_54</string>
    </array>
    <array>
      <string>Apr 14 20, 20:10</string>
      <string>glyphs.A_pr 14 20, 20_10</string>
    </array>
    <array>
      <string>Spiral [300, 500]</string>
      <string>glyphs.S_piral _300, 500_</string>
    </array>
    <array>
      <string>Apr 17 20, 12:43</string>
      <string>glyphs.A_pr 17 20, 12_43</string>
    </array>
    <array>
      <string>Feb 14 20, 16:05</string>
      <string>glyphs.F_eb 14 20, 16_05</string>
    </array>
    <array>
      <string>Feb 14 20, 16:07</string>
      <string>glyphs.F_eb 14 20, 16_07</string>
    </array>
    <array>
      <string>Feb 14 20, 17:08</string>
      <string>glyphs.F_eb 14 20, 17_08</string>
    </array>
    <array>
      <string>Feb 14 20, 17:13</string>
      <string>glyphs.F_eb 14 20, 17_13</string>
    </array>
    <array>
      <string>Feb 14 20, 17:15</string>
      <string>glyphs.F_eb 14 20, 17_15</string>
    </array>
    <array>
      <string>Feb 14 20, 17:21</string>
      <string>glyphs.F_eb 14 20, 17_21</string>
    </array>
    <array>
      <string>Feb 14 20, 17:27</string>
      <string>glyphs.F_eb 14 20, 17_27</string>
    </array>
    <array>
      <string>Feb 14 20, 17:34</string>
      <string>glyphs.F_eb 14 20, 17_34</string>
    </array>
    <array>
      <string>Mar 10 20, 14:18</string>
      <string>glyphs.M_ar 10 20, 14_18</string>
    </array>
    <array>
      <string>Feb 15 20, 17:13</string>
      <string>glyphs.F_eb 15 20, 17_13</string>
    </array>
    <array>
      <string>Feb 15 20, 17:15</string>
      <string>glyphs.F_eb 15 20, 17_15</string>
    </array>
    <array>
      <string>Feb 15 20, 17:16</string>
      <string>glyphs.F_eb 15 20, 17_16</string>
    </array>
    <array>
      <string>Feb 15 20, 17:16 #1</string>
      <string>glyphs.F_eb 15 20, 17_16 #1</string>
    </array>
    <array>
      <string>Feb 15 20, 18:07</string>
      <string>glyphs.F_eb 15 20, 18_07</string>
    </array>
    <array>
      <string>Feb 18 20, 14:24</string>
      <string>glyphs.F_eb 18 20, 14_24</string>
    </array>
    <array>
      <string>Mar 10 20, 14:31</string>
      <string>glyphs.M_ar 10 20, 14_31</string>
    </array>
    <array>
      <string>May 13 20, 16:28</string>
      <string>glyphs.M_ay 13 20, 16_28</string>
    </array>
    <array>
      <string>Mar 10 20, 14:48</string>
      <string>glyphs.M_ar 10 20, 14_48</string>
    </array>
    <array>
      <string>Mar 10 20, 14:52</string>
      <string>glyphs.M_ar 10 20, 14_52</string>
    </array>
    <array>
      <string>Apr 15 20, 14:16</string>
      <string>glyphs.A_pr 15 20, 14_16</string>
    </array>
    <array>
      <string>Feb 16 20, 16:44</string>
      <string>glyphs.F_eb 16 20, 16_44</string>
    </array>
    <array>
      <string>Feb 16 20, 16:46</string>
      <string>glyphs.F_eb 16 20, 16_46</string>
    </array>
    <array>
      <string>Feb 16 20, 17:20</string>
      <string>glyphs.F_eb 16 20, 17_20</string>
    </array>
    <array>
      <string>Feb 16 20, 17:23</string>
      <string>glyphs.F_eb 16 20, 17_23</string>
    </array>
    <array>
      <string>Feb 17 20, 18:10</string>
      <string>glyphs.F_eb 17 20, 18_10</string>
    </array>
    <array>
      <string>Mar 10 20, 14:59</string>
      <string>glyphs.M_ar 10 20, 14_59</string>
    </array>
    <array>
      <string>Apr 29 20, 17:01</string>
      <string>glyphs.A_pr 29 20, 17_01</string>
    </array>
    <array>
      <string>Mar 2 20, 16:51</string>
      <string>glyphs.M_ar 2 20, 16_51</string>
    </array>
    <array>
      <string>Mar 2 20, 16:56</string>
      <string>glyphs.M_ar 2 20, 16_56</string>
    </array>
    <array>
      <string>Mar 2 20, 17:38</string>
      <string>glyphs.M_ar 2 20, 17_38</string>
    </array>
    <array>
      <string>Mar 15 20, 15:39</string>
      <string>glyphs.M_ar 15 20, 15_39</string>
    </array>
    <array>
      <string>Mar 2 20, 15:29</string>
      <string>glyphs.M_ar 2 20, 15_29</string>
    </array>
    <array>
      <string>Mar 2 20, 15:39</string>
      <string>glyphs.M_ar 2 20, 15_39</string>
    </array>
    <array>
      <string>Mar 2 20, 15:48</string>
      <string>glyphs.M_ar 2 20, 15_48</string>
    </array>
    <array>
      <string>Mar 2 20, 15:49</string>
      <string>glyphs.M_ar 2 20, 15_49</string>
    </array>
    <array>
      <string>Mar 2 20, 15:56</string>
      <string>glyphs.M_ar 2 20, 15_56</string>
    </array>
    <array>
      <string>Mar 2 20, 15:57</string>
      <string>glyphs.M_ar 2 20, 15_57</string>
    </array>
    <array>
      <string>Mar 2 20, 16:05</string>
      <string>glyphs.M_ar 2 20, 16_05</string>
    </array>
    <array>
      <string>Mar 2 20, 16:43</string>
      <string>glyphs.M_ar 2 20, 16_43</string>
    </array>
    <array>
      <string>Mar 17 20, 18:14</string>
      <string>glyphs.M_ar 17 20, 18_14</string>
    </array>
    <array>
      <string>Mar 12 20, 17:43</string>
      <string>glyphs.M_ar 12 20, 17_43</string>
    </array>
    <array>
      <string>Mar 2 20, 17:28</string>
      <string>glyphs.M_ar 2 20, 17_28</string>
    </array>
    <array>
      <string>Mar 2 20, 17:29</string>
      <string>glyphs.M_ar 2 20, 17_29</string>
    </array>
    <array>
      <string>Mar 2 20, 17:29 #1</string>
      <string>glyphs.M_ar 2 20, 17_29 #1</string>
    </array>
    <array>
      <string>Mar 2 20, 17:01</string>
      <string>glyphs.M_ar 2 20, 17_01</string>
    </array>
    <array>
      <string>Mar 13 20, 15:50</string>
      <string>glyphs.M_ar 13 20, 15_50</string>
    </array>
    <array>
      <string>Mar 15 20, 14:50</string>
      <string>glyphs.M_ar 15 20, 14_50</string>
    </array>
    <array>
      <string>Mar 14 20, 16:00</string>
      <string>glyphs.M_ar 14 20, 16_00</string>
    </array>
    <array>
      <string>Mar 13 20, 15:23</string>
      <string>glyphs.M_ar 13 20, 15_23</string>
    </array>
  </array>
</plist>
