<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.bottom45</key>
    <string>U_.bottom45.glif</string>
    <key>U.top45</key>
    <string>U_.top45.glif</string>
    <key>U.top90</key>
    <string>U_.top90.glif</string>
  </dict>
</plist>
