<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>833 {833}</string>
      <string>glyphs.833 {833}</string>
    </array>
    <array>
      <string>833 {833}.background</string>
      <string>glyphs.833 {833}.background</string>
    </array>
    <array>
      <string>Aug 28 20, 14:14</string>
      <string>glyphs.A_ug 28 20, 14_14</string>
    </array>
    <array>
      <string>Aug 28 20, 14:14.background</string>
      <string>glyphs.A_ug 28 20, 14_14.background</string>
    </array>
    <array>
      <string>832 {832}</string>
      <string>glyphs.832 {832}</string>
    </array>
    <array>
      <string>832 {832}.background</string>
      <string>glyphs.832 {832}.background</string>
    </array>
    <array>
      <string>839 {839}</string>
      <string>glyphs.839 {839}</string>
    </array>
    <array>
      <string>839 {839}.background</string>
      <string>glyphs.839 {839}.background</string>
    </array>
    <array>
      <string>Oct 19 20, 19:33</string>
      <string>glyphs.O_ct 19 20, 19_33</string>
    </array>
    <array>
      <string>Oct 19 20, 19:33.background</string>
      <string>glyphs.O_ct 19 20, 19_33.background</string>
    </array>
    <array>
      <string>Oct 13 20, 15:20</string>
      <string>glyphs.O_ct 13 20, 15_20</string>
    </array>
    <array>
      <string>Oct 13 20, 15:20.background</string>
      <string>glyphs.O_ct 13 20, 15_20.background</string>
    </array>
    <array>
      <string>Sep 29 20, 15:32</string>
      <string>glyphs.S_ep 29 20, 15_32</string>
    </array>
    <array>
      <string>Sep 29 20, 15:32.background</string>
      <string>glyphs.S_ep 29 20, 15_32.background</string>
    </array>
  </array>
</plist>
